{% extends "app_general/base.html" %} {% load static %}
{% block body%}
<!--  log in -->
<body
  class="flex items-center justify-center h-screen bg-[url('{% static 'src\sign-in.svg' %}')] bg-no-repeat bg-cover font-['Prompt']"
>
  <div class="flex flex-col w-full items-center py-8">
    <form action="" method="post">
      {% csrf_token %} {{form.non_field_errors}} {% if request.GET.next %}
      <input type="hidden" name="next" value="{{request.GET.next}}" />
      {% endif %}
      <!-- logo -->
      <img
        src="{% static 'src/Logo.png' %}"
        alt="โลโก้"
        class="mx-auto w-2/5 mb-14 sm:w-1/5"
      />

      <div class="grid grid-rows-3 place-items-center">
        <!-- บัญชีผู้ใช้ -->
        <div class="mb-4 w-3/4 md:w-1/2">
          <label
            for="Username"
            class="mb-1 block text-base text-[#0F2C59]"
          >
            บัญชีผู้ใช้
          </label>
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="w-full rounded-md placeholder-[#DFB17E] bg-[#EADBC8] py-3 px-5 text-base text-[#0F2C59] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <!-- รหัสผ่าน -->
        <div class="mb-4 w-3/4 md:w-1/2">
          <label
            for="Password"
            class="mb-1 block text-base text-[#0F2C59]"
          >
            รหัสผ่าน
          </label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="w-full rounded-md placeholder-[#DFB17E] bg-[#EADBC8] py-3 px-5 text-base text-[#0F2C59] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div class="flex justify-center w-2/5 h-2/3 md:w-1/6">
          <button
            class="hover:shadow-form rounded-md bg-[#0F2C59] w-full px-7 py-4 font-semibold text-[#EADBC8] outline-none scale-95 hover:scale-100 text-sm sm:text-base"
            type="submit"
          >
            เข้าสู่ระบบ
          </button>
        </div>
      </div>
    </form>
  </div>
</body>
{% endblock body%}
