body{
    background-image: url(/app_general/templates/src/BG.PNG);
}

.box-1 {
    display: flex;
    justify-content: center;
}
.logo, .logo{
    box-sizing: border-box;
}
.logo {
    width: 35%;
    position: absolute;
    top: 200px;
}

.box-2 {
    display: flex;
    justify-content: center;
}

.frame-5, .frame-5 * {
    box-sizing: border-box;
    }
.frame-5 {
   background: #0f2c59;
    border-radius: 50px;
    padding: 6px 14px 6px 14px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 274px;
    height: 68px;
    position: relative;
    overflow: hidden;
    color: #eadbc8;
    text-align: center;
    font: 600 20px 'Outfit', sans-serif;
    position: relative;
   }

   .frame-6, .frame-6 * {
    box-sizing: border-box;
    }
.frame-6 {
   border-radius: 50px;
    border-style: solid;
    border-color: #0f2c59;
    border-width: 2px;
    padding: 6px 14px 6px 14px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 274px;
    height: 68px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    color: #0f2c59;
    text-align: center;
    font: 700 20px 'Outfit', sans-serif;
    position: relative;
   }

