{% extends "app_general/base.html" %} {% load static %} 

{% block body%} 

{% for item in items %}
<img src="{{item.foods.imageURL}}">
<p>{{item.foods.foods_name}}</p>
<p>${{item.foods.price|floatformat:2}}</p>
<p>{{item.quantity}}</p>
<p>${{item.get_total}}</p>
<button data-product="{{item.foods.id}}" data-action="add" class="update-cart">ADD</button>
<button data-product="{{item.foods.id}}" data-action="remove" class="update-cart">DECREASE</button>
<button data-product="{{item.foods.id}}" data-action="delete" class="update-cart">REMOVE</button>
{% endfor %}
<p>{{order.get_cart_items}}</p>
<p>${{order.get_cart_total|floatformat:2}}</p>
<h2>{{order.get_time}}</h2>
<button id="cancel">cancel</button>
<button id="checkout">checkout</button>

<script type="text/javascript">
    var total = "{{order.get_cart_items}}"

    document.getElementById("checkout").addEventListener("click", function(e) {
        submitCheckout()
    })

    document.getElementById("cancel").addEventListener("click", function(e) {
        submitCancel()
    })

    var url = "/checkout/"



    function submitCheckout(){
        console.log("checkout check")
        fetch(url, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken,
        },
        body: JSON.stringify({
            "total": total,
        }),
    })
    .then((response) => {
        response.json();
    })
    .then((data) => {
        location.reload();
        window.location.href = "{% url 'home' %}";
    });
    }

    function submitCancel(){
        console.log("cancel check")
        fetch(url, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken,
        },
        body: JSON.stringify({
            "total": total,
        }),
    })
    .then((response) => {
        response.json();
    })
    .then((data) => {
        location.reload();
        window.location.href = "{% url 'home' %}";
    });
    }

</script>

{% endblock body%}