{% extends "app_general/base.html" %}

{% load static %} {% block body%}
<!--  log in -->
<body class="flex items-center justify-center h-screen bg-[url('{% static 'src\sign-in.svg' %}')] bg-no-repeat bg-cover">
    <div className="flex flex-row items-center justify-center w-full">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button class="border-0 w-2/5 h-10 bg-green-400 font-medium" type="submit"> Login </button>
            </p>
        </form>
    </div>
</body>
{% endblock body%}
