<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="first.css">
</head>
<body>
    <!--  log in --> 
 <div class="box" >
    <div class="box-1">
        <img class="logo" src="/app_general/templates/src/Logo.png" />
    </div>
    <div class="box-2">
        <div class="frame-5" >
            <div class="" > เข้าสู่ระบบ </div>
      </div>
      <div class="frame-6" >
            <div class="2" > ลงทะเบียน </div>
      </div>
    </div>

</div>
</body>
</html>