{% extends "app_general/base.html" %} {% load static %} {% block body%}
<!--  logo page -->

<body
  class="flex items-center justify-center w-full h-screen min-h-full bg-[url('{% static 'src\sign-in.svg' %}')] bg-no-repeat bg-cover font-['Prompt']"
>
  <div class="text-center">
    <img
      src="{% static 'src/Logo.png' %}"
      alt="โลโก้"
      class="mx-auto w-5/12 mb-14 md:w-1/4"
    />
    <!-- ปุ่มเข้าสู่ระบบ -->
    <div
      class="grid grid-rows-2 min-h-full justify-items-center md:grid md:grid-cols-2 md:justify-items-end"
    >
      <a
        href="login"
        class="self-center w-1/2 h-full py-4 bg-blue-950 rounded-3xl overflow-auto"
      >
        <div class="text-stone-300 text-xl font-semibold">
          เข้าสู่ระบบ
        </div>
      </a>

      <!-- ปุ่มลงทะเบียน -->
      <a
        href="register"
        class="place-self-center w-1/2 h-full px-3.5 py-1.5 flex items-center justify-center rounded-3xl shadow border-2 border-blue-950 overflow-auto md:ml-2 mt-2 md:mt-0 md:place-self-start"
      >
        <div class="text-blue-950 text-xl font-semibold">
          ลงทะเบียน
        </div>
      </a>
    </div>
  </div>
</body>

{% endblock body%}
